<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/svg" href="/img/logo/brasileiras-logo3.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <link rel="stylesheet" href="/css/footer-style.css">
    <link rel="stylesheet" href="/css/404-style.css">
    <title>Página não encontrada</title>
</head>

<body>
    <header class="header-nav">

        <nav class="navegacao">
            <div class="logo">
                <a th:href="@{/}">
                    <img src="/img/logo/brasileiras-logo2.svg" alt="Brasileiras - logotipo" id="logo-tipo">
                </a>
            </div>

            <div class="barra-pesquisa">
                <form method="post" action="">
                    <input type="text" name="barra-pesquisa" placeholder="O que vamos procurar hoje?">

                    <button type="submit"><img src="/img/icons/lupa.svg" alt="lupa de pesquisa" id="lupa"></button>
                </form>
            </div>

            <div class="campo-usuario">
                <a th:href="@{/cadastro-cliente}">
                    <img src="/img/icons/user.svg" alt="ícone de usuário" id="user-img">
                    <p>Crie sua conta</p>
                </a>

                <a th:href="@{/login}">
                    <p>Entre</p>
                </a>

            </div>
            <div class="carrinho">
                <a href=""><img src="/img/icons/carrinho.svg" alt="carrinho de compras" id="carrinho"></a>
            </div>
        </nav>
    </header>
    <div class="erro404">
        <h1>Desculpe, página não encontrada</h1>
        <p>Pesquise novamente ou volte para <a th:href="@{/}">a página inicial</a></p>
    </div>

</body>

</html>