.header-nav {
    background-color: #ffe109;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5% 0;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0% 5%;
    border-radius: 8px;
    width: 75%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3%;
}


.logo a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#logo-tipo {
    width: 90%;
}

.barra-pesquisa {
    display: flex;
    width: 45%;
    margin-right: 3%;
}

.barra-pesquisa form {
    display: flex;
    align-items: center;
    border: 2px solid #979797;
    border-radius: 5px;
    overflow: hidden;
    background: #FFFFFF;
    width: 100%;
}

.barra-pesquisa input {
    border: none;            
    outline: none;           
    padding: 12px 15px;
    font-size: 1rem;
    flex: 1;        
}

.barra-pesquisa button {
    border: none;
    background: #FFFFFF;     
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lupa {
    width: clamp(30px, 0.5vw, 70px);
}

.campo-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

.campo-usuario a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: #000000E3;
}

.campo-usuario a:hover {
    color: #009b3a;
}

.campo-usuario a:hover img {
    content: url("/img/icons/user-verde.svg");
}

#user-img {
    width: clamp(30px, 1vw, 90px);
}

#carrinho {
    width: clamp(30px, 1vw, 90px);
}

#icon-loclz {
    width: clamp(30px, 1vw, 60px);
}

.endereco {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.endereco a {
    display: flex;
    width: 70%;
    align-items: center;
}

.endereco a:hover img {
    content: url("/img/icons/local-verde.svg");
}

.menu-opcoes {
    font-size: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.menu-opcoes img{
    padding-right: 5%;
}

.menu-opcoes ul {
    display: flex;
    gap: 5vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-opcoes li {
    list-style: none;
}

.menu-opcoes a {
    color: #000000E3;
    text-decoration: none;
    font-weight: bold;
}

.menu-opcoes a:hover {
    color: #009b3a;
}
