.cabecalho {
    background-color: #ffe109;
    padding: 1.5% 2% 2% 13%;
    width: 85%;
}

.logo {
    display: flex;
    width: 100%;
    height: auto;
}

#logo-tipo {
    width: 80%;
    border-radius: 8px;
}

.corpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    width: 90%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form label {
    font-weight: bold;
}

.form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.senha-container {
    position: relative;
    display: flex;
    align-items: center;
}

.senha-container input {
    width: 100%;
    padding-right: 4%;
}

.senha-container img {
    position: absolute;
    position: absolute;
    right: 0.1%;
    width: 12%;
    height: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.form input:focus {
    outline: none;
    border-color: #009b3a;
}

.btn-logar button {
    padding: 0.5vw 2vw;
    background-color: #009b3a;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-logar {
    margin-top: 1.5%;
}

.btn-logar button:hover {
    background-color: #008531;
}

p {
    margin-top: 0.5%;
    font-size: 17px;
}

.cadastro p a {
    color: #009b3a;
    text-decoration: none;
}

.cadastro p a:hover {
    text-decoration: underline;
}