<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro-style.css">
    <title>Brasileiras | Cadastro</title>
</head>

<body>
    <div class="barra">
        <a th:href="@{/}">
            <img src="/img/logo/brasileiras-logo4.png" alt="Brasileiras - logotipo" id="logo-tipo">
        </a>
    </div>
    <header>

        <form th:action="@{/fazerCadastro}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required/>
            <br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
            <br>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" required/>
            <br>

            <label for="dtNascimento">Data de Nascimento:</label>
            <input type="date" name="dtNascimento" id="dtNascimento" required>
            <br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required />
            <input type="checkbox" onclick="document.getElementById('senha').type = this.checked ? 'text' : 'password'">
            <br>

            <label for="cpf">Cpf:</label>
            <input type="text" id="cpf" name="cpf" required />
            <br>


            <button type="submit">Cadastrar</button>

            <p>Deseja fazer login?<a href="/login"> Faça aqui</a></p>
        </form>


        <nav>

        </nav>
    </header>

    <section>

    </section>
    <footer>

    </footer>
</body>

</html>