<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/svg" href="/img/logo/brasileiras-logo3.svg">
    <link rel="stylesheet" href="/css/cadastro-style.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Brasileiras | Cadastro</title>
</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/img/logo/brasileiras-logo1.svg" alt="Brasileiras - logotipo" id="logo-tipo">
            </a>
        </div>
    </header>

    <section class="corpo">
        <form th:action="@{/cadastrar-funcionario}" method="post">

            <div class="container">
                <h1>Cadastro | Novo funcionário</h1>

                <div class="form nome">
                    <label for="nome">Nome:</label>
                    <input type="text" th:name="nome" id="nome" required />
                </div>

                <div class="form email">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:name="email" required />
                </div>

                <div class="form telefone">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="telefone" th:name="telefone" required />
                </div>

                <div class="form cpf">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" th:name="cpf" required />
                </div>

                <div class="form dt-nascimento">
                    <label for="dt-nascimento">Data de nascimento:</label>
                    <input type="date" id="dt-nascimento" th:name="dtNascimento" required />
                </div>

                <div class="form cargo">
                    <label for="cargo">Cargo:</label>
                    <select name="cargo" required id="cargo">
                        <option value="">- Selecione uma opção -</option>
                        <option th:value="administrador">Administrador</option>
                        <option th:value="operador">Operador</option>
                    </select>
                </div>

                <div class="form departamento">
                    <label for="departamento">Departamento:</label>
                    <input type="text" id="departamento" th:name="departamento" required />
                </div>

                <div class="form senha">
                    <label for="senha">Senha:</label>
                    <div class="senha-container">
                        <input type="password" id="senha" th:name="senha" required>
                        <img src="/img/icons/olho-fechado.svg" alt="exibir senha" id="toggle-senha">
                    </div>
                </div>

                <div class="btn-cadastrar">
                    <button type="submit">Cadastre</button>
                </div>

            </div>
        </form>

    </section>
    <script src="/js/preview-foto.js"></script>
    <script src="/js/toggle-senha.js"></script>
</body>

</html>