<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/svg" href="/img/logo/brasileiras-logo3.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <link rel="stylesheet" href="/css/footer-style.css">
    <link rel="stylesheet" href="/css/funcionario-style.css">
    <title>Meu Perfil | Brasileiras</title>
</head>

<body>
    <header class="header-nav">

        <nav class="navegacao">
            <div class="logo">
                <a th:href="@{/}">
                    <img src="/img/logo/brasileiras-logo2.svg" alt="Brasileiras - logotipo" id="logo-tipo">
                </a>
            </div>

            <div class="barra-pesquisa">
                <form method="post" action="">
                    <input type="text" name="barra-pesquisa" placeholder="O que vamos procurar hoje?">

                    <button type="submit"><img src="/img/icons/lupa.svg" alt="lupa de pesquisa" id="lupa"></button>
                </form>
            </div>

            <div class="campo-usuario">
                <div th:if="${session.clienteLogado == null}">
                    <a th:href="@{/cadastro-cliente}">
                        <img src="/img/icons/user.svg" alt="ícone de usuário" id="user-img">
                        <p>Crie sua conta</p>
                    </a>

                    <a th:href="@{/login}">
                        <p>Entre</p>
                    </a>
                </div>
                <div th:if="${session.clienteLogado != null}" class="usuario-logado">
                    <a th:href="@{/funcionario/{id}(id=${session.clienteLogado.id})}">
                        <img src="/img/icons/user.svg" alt="ícone de usuário" id="user-img">
                        <p>Olá, <span th:text="${session.clienteLogado.nome}"></span></p>
                    </a>

                </div>

            </div>
            <div class="carrinho">
                <a href="/carrinho"><img src="/img/icons/carrinho.svg" alt="carrinho de compras" id="carrinho"></a>
            </div>
        </nav>
    </header>

    <section class="corpo">
        <div class="opcoes">
            <div class="opcoes-titulo">
                <img src="/img/icons/user-verde.svg" alt="">
                <h3>Minha conta</h3>
            </div>
            <ul>
                <li><a th:href="@{/funcionario}" class="active">Perfil</a></li>
                <li><a th:href="@{/funcionario/enderecos}">Endereço</a></li>
                <li><a th:href="@{/cadastro-produto}">Cadastrar produtos</a></li>
                <li><a th:href="@{/cadastro-funcionario}">Cadastrar funcionários</a></li>
                <li><a th:href="@{/atualizar-produtos}">Atualizar produtos</a></li>
                <li><a th:href="@{/logout}">Sair</a></li>
            </ul>

            <div class="opcoes-titulo">
                <img src="" alt="">
                <h3>Cargo</h3>
            </div>
            <ul>
                <li class="opcoes-info">Administrador</li>
            </ul>
            <div class="opcoes-titulo">
                <img src="" alt="">
                <h3>Departamento</h3>
            </div>
            <ul>
                <li class="opcoes-info">Administração do sistema</li>
            </ul>
            <div class="opcoes-titulo">
                <img src="" alt="">
                <h3>Salário</h3>
            </div>
            <ul>
                <li class="opcoes-info">R$5500,00</li>
            </ul>
        </div>

        <div class="informacoes">
            <div>
                <div class="informacoes-read">
                    <h3>Meu Perfil</h3>
                    <div class="perfil-container">
                        <div class="form-fields">
                            <div class="form nome">
                                <label for="nome">Nome:</label>
                                <p>[[${funcionario.nome}]]</p>
                            </div>

                            <div class="form email">
                                <label for="email">Email:</label>
                                <p>[[${funcionario.email}]]</p>
                            </div>

                            <div class="form telefone">
                                <label for="telefone">Telefone:</label>
                                <p>[[${funcionario.telefone}]]</p>
                            </div>

                            <div class="form dt-nascimento">
                                <label for="dtNascimento">Data de Nascimento:</label>
                                <p
                                    th:text="${#strings.isEmpty(funcionario.dtNascimento)} ? 'Não informado' : ${funcionario.dtNascimento}">
                                </p>
                            </div>

                            <div class="form cpf">
                                <label for="cpf">CPF:</label>
                                <p>[[${funcionario.cpf}]]</p>
                            </div>

                            <div class="btn-informacoes">
                                <button type="button" class="btn-alterar">Alterar informações</button>
                                <button type="button" class="btn-deletar">Excluir minha conta</button>
                            </div>

                        </div>
                        <div class="foto-upload">
                            <img th:src="@{${#strings.isEmpty(funcionario.enderecoFoto)} ? '/img/icons/foto-funcionario.svg' : ${funcionario.enderecoFoto}}"
                                alt="foto do funcionario" id="foto-funcionario">
                        </div>
                    </div>
                </div>

                <div class="informacoes-delete">
                    <h3>Excluir conta</h3>
                    <div class="txt-delete">
                        <p>
                            <span>ATENÇÃO:</span> esta ação é irreversível. Todos os seus dados,
                            pedidos e endereços serão permanentemente removidos.
                        </p>
                        <div class="btn-excluir">
                            <form th:action="@{/funcionario/excluir-conta/{id}(id=${funcionario.id})}" th:method="post"
                                id="form-delete">
                                <button type="submit" class="btn-deletar">Quero excluir minha conta</button>
                            </form>
                            <button type="button" class="cancelar-delete">Cancelar</button>
                        </div>
                    </div>
                </div>

                <div class="informacoes-update">
                    <h3>Meu Perfil | Atualização</h3>
                    <form th:action="@{/funcionario/atualizar/{id}(id=${funcionario.id})}" method="post"
                        enctype="multipart/form-data">

                        <div class="perfil-container">
                            <div class="form-fields">
                                <div class="form nome">
                                    <label for="nome">Nome:</label>
                                    <input type="text" th:name="nome" th:value="${funcionario.nome}" required />
                                </div>

                                <div class="form email">
                                    <label for="email">Email:</label>
                                    <input type="email" th:name="email" th:value="${funcionario.email}" required />
                                </div>

                                <div class="form telefone">
                                    <label for="telefone">Telefone:</label>
                                    <input type="tel" th:name="telefone" th:value="${funcionario.telefone}" required />
                                </div>

                                <div class="form dt-nascimento">
                                    <label for="dtNascimento">Data de Nascimento:</label>
                                    <input type="date" th:name="dtNascimento" th:value="${funcionario.dtNascimento}"
                                        required>
                                </div>

                                <div class="form cpf">
                                    <label for="cpf">CPF:</label>
                                    <input type="text" th:value="${funcionario.cpf}" th:name="cpf" required />
                                </div>

                                <div class="form senha">
                                    <label for="senha">Senha:</label>
                                    <div class="senha-container">
                                        <input type="password" id="senha" th:value="${funcionario.senha}"
                                            th:name="senha" required>
                                        <img src="/img/icons/olho-fechado.svg" alt="exibir senha" id="toggle-senha">
                                    </div>
                                </div>

                                <div class="btn-atualizar">
                                    <button type="submit">Salvar alterações</button>
                                    <a th:href="@{/funcionario/{id}(id=${funcionario.id})}" id="cancelar-update"
                                        class="link-cancelar">Cancelar</a>
                                </div>

                            </div>

                            <div class="foto-upload">
                                <label for="foto">
                                    <img th:src="@{${#strings.isEmpty(funcionario.enderecoFoto)} ? '/img/icons/foto-funcionario.svg' : ${funcionario.enderecoFoto}}"
                                        alt="foto do funcionario" id="preview-foto">
                                </label>
                                <input type="file" th:name="foto" id="foto" accept="image/*">
                                <label for="foto" class="btn-foto">Selecione a imagem</label>
                                <p>Extensão de arquivo: .JPEG, .PNG</p>
                            </div>
                        </div>
                </div>
            </div>

    </section>

    <footer class="rodape">
        <div class="logo-footer">
            <a th:href="@{/}">
                <img src="/img/logo/brasileiras-logo2.svg" alt="Brasileiras - logotipo" id="logo-rodape">
            </a>
        </div>

        <div class="texto-footer">
            <p><a th:href="@{/}">Voltar ao Início</a></p>
            <p>© 2025 Brasileiras.com</p>
        </div>

    </footer>
    <script src="/js/troca-icons.js"></script>
    <script src="/js/usuario-toggle.js"></script>
    <script src="/js/preview-foto.js"></script>
    <script src="/js/toggle-senha.js"></script>
</body>

</html>