<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Brasileiras | Bem-vindo(a)</title>
</head>

<body>
    <header>


        <div th:if="${cliente == null}">
            <a href="/login">login</a>
            <a href="/cadastro">cadastro</a>
        </div>

        <!-- Mostrar saudação se cliente estiver logado -->
        <div th:if="${cliente != null}">
            <span>Bem-vindo(a), <span th:text="${cliente.nome}">Usuário</span>!</span>
            <a href="/logout">Sair</a>
        </div>
        <img src="/img/brasileiras-logo.png" alt="Brasileiras - logotipo">

        <nav>

        </nav>
    </header>

    <section>

    </section>
    <footer>

    </footer>
</body>

</html>