<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-style.css">
    <title>Brasileiras | Bem-vindo(a)</title>
</head>

<body>
    <header class="header-nav">

        <nav class="navegacao">
            <a th:href="@{/}">
                <img src="/img/logo/brasileiras-logo4.png" alt="Brasileiras - logotipo" id="logo-tipo">
            </a>

            <div class="barra-pesquisa">
                <form method="post" action="">
                    <input type="text" name="barra-pesquisa" placeholder="O que vamos procurar hoje?">

                    <button type="submit"><img src="/img/icons/lupa.svg" alt="lupa de pesquisa"></button>
                </form>
            </div>

            <div class="campo-usuario">
                <a th:href="@{/cadastro}">
                    <img src="/img/icons/user.svg" onmouseover="this.src='/img/icons/user-verde.svg'" onmouseout="this.src='/img/icons/user.svg'" alt="ícone de usuário" id="icon-loclz">
                    <p>Crie sua conta</p>
                </a>
                <a href="">
                    <p>Entre</p>
                </a>
            </div>
            <a href=""><img src="/img/icons/carrinho.svg" alt="carrinho de compras" id="carrinho"></a>

        </nav>

        <div class="menu-opcoes">
            <div class="endereco">
                <a href="">
                    <img src="/img/icons/local.svg" alt="ponto de localização">

                    <p>Informe o seu CEP</p>

                </a>
            </div>
            <ul>
                <li>
                    <a href="">Laticinios</a>
                </li>
                <li>
                    <a href="">Vegetais</a>
                </li>
                <li>
                    <a href="">Tubercúlos</a>
                </li>
                <li>
                    <a href="">Artesanatos</a>
                </li>
                <li>
                    <a href="">Sobre nós</a>
                </li>
            </ul>
        </div>

    </header>

    <section>

    </section>
    <footer>

    </footer>
</body>

</html>