<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-style.css">
    <title>Brasileiras | Login</title>
</head>

<body>
    <div class="barra">
        <a th:href="@{/}">
            <img src="/img/logo/brasileiras-logo4.png" alt="Brasileiras - logotipo" id="logo-tipo">
        </a>
    </div>
    <header>

        <form th:action="@{/fazerLogin}" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
            <br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required />
            <input type="checkbox" onclick="document.getElementById('senha').type = this.checked ? 'text' : 'password'">
            <br>

            <button type="submit">Login</button>

            <p>Não tem cadastro?<a href="/cadastro"> Faça aqui</a></p>
        </form>


        <nav>

        </nav>
    </header>

    <section>

    </section>
    <footer>

    </footer>
</body>

</html>